In [2]:
import pandas as pd
import numpy as np

In [197]:
df=pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')

In [198]:
df_test.shape

(367, 12)

In [199]:
df.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [200]:
df.shape

(614, 13)

In [201]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [202]:
df_test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [203]:
df[['Married']].isnull().sum()

Married    3
dtype: int64

In [204]:
df[['Gender']].isnull().sum()

Gender    13
dtype: int64

In [205]:
df['Married']=df['Married'].fillna(df['Married'].value_counts().index[0])
df['Gender']=df['Gender'].fillna(df['Gender'].value_counts().index[0])
df['Dependents']=df['Dependents'].fillna(df['Dependents'].value_counts().index[0])
df['Self_Employed']=df['Self_Employed'].fillna(df['Self_Employed'].value_counts().index[0])
df['LoanAmount']=df['LoanAmount'].fillna(df['LoanAmount'].mean())
#df['Loan_Amount_Term']=df['Loan_Amount_Term'].backfill(limit=4)
#df['Credit_History']=df['Credit_History'].backfill(limit=4)

In [206]:
#df_test['Married']=df_test['Married'].fillna(df_test['Married'].value_counts().index[0])
df_test['Gender']=df_test['Gender'].fillna(df_test['Gender'].value_counts().index[0])
df_test['Dependents']=df_test['Dependents'].fillna(df_test['Dependents'].value_counts().index[0])
df_test['Self_Employed']=df_test['Self_Employed'].fillna(df_test['Self_Employed'].value_counts().index[0])
df_test['LoanAmount']=df_test['LoanAmount'].fillna(df_test['LoanAmount'].mean())

In [207]:
for col in ['Loan_Amount_Term', 'Credit_History']:
    df[col] = df[col].ffill()

In [208]:
df[['Loan_Amount_Term', 'Credit_History']].isnull().sum()

Loan_Amount_Term    0
Credit_History      0
dtype: int64

In [209]:
for col in ['Loan_Amount_Term', 'Credit_History']:
    df_test[col] = df_test[col].ffill()

In [210]:
df_test[['Loan_Amount_Term', 'Credit_History']].isnull().sum()

Loan_Amount_Term    0
Credit_History      0
dtype: int64

In [211]:
for col_name in df.columns:
    if df[col_name].dtypes == 'object' :
        unique_cat = len(df[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} categories".format(col_name=col_name, unique_cat=unique_cat))

#see how distributed the feature service is, it is evenly distributed and therefore we need to make dummies for all.
print()
print('Distribution of categories in service:')
print(df['Loan_Status'].value_counts().sort_values(ascending=False).head())

Feature 'Loan_ID' has 614 categories
Feature 'Gender' has 2 categories
Feature 'Married' has 2 categories
Feature 'Dependents' has 4 categories
Feature 'Education' has 2 categories
Feature 'Self_Employed' has 2 categories
Feature 'Property_Area' has 3 categories
Feature 'Loan_Status' has 2 categories

Distribution of categories in service:
Y    422
N    192
Name: Loan_Status, dtype: int64

In [212]:
columns1=['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','Property_Area','Loan_Status']
columns2=['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','Property_Area']

In [213]:
df1 = df[columns1]

In [214]:
df2=df_test[columns2]

In [215]:
from sklearn.preprocessing import LabelEncoder
df1=df1.apply(LabelEncoder().fit_transform)
df1.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status
0,0,1,0,0,0,0,2,1
1,1,1,1,1,0,0,0,0
2,2,1,1,0,0,1,2,1
3,3,1,1,0,1,0,2,1
4,4,1,0,0,0,0,2,1

In [216]:
from sklearn.preprocessing import LabelEncoder
df2=df2.apply(LabelEncoder().fit_transform)
df2.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Property_Area
0,0,1,1,0,0,0,2
1,1,1,1,1,0,0,2
2,2,1,1,2,0,0,2
3,3,1,1,2,0,0,2
4,4,1,0,0,1,0,2

In [217]:
df.drop(['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','Property_Area','Loan_Status'],axis=1,inplace=True)

In [218]:
df_test.drop(['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','Property_Area'],axis=1,inplace=True)

In [219]:
df=pd.concat([df,df1],axis=1)

In [220]:
df_test=pd.concat([df_test,df2],axis=1)

In [221]:
df.shape

(614, 13)

In [222]:
df_test.shape

(367, 12)

In [223]:
X_train=df.drop(['Loan_Status'], axis=1)
y_train=df['Loan_Status']
X_test=df_test

In [226]:
from imblearn.ensemble import BalancedBaggingClassifier
from sklearn.ensemble import RandomForestClassifier
bb_class = BalancedBaggingClassifier(base_estimator = RandomForestClassifier(criterion='entropy'), n_estimators = 5, bootstrap = True)
bb_class.fit(X_train, y_train)
loan_status_predict = bb_class.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [228]:
pred=pd.DataFrame(loan_status_predict)
df=pd.read_csv('sample_submission.csv')
data=pd.concat([df['Loan_ID'],pred],axis=1)
data.columns=['Loan_ID','Loan_Status']
data.to_csv('sample_submission1.csv',index=False)